/* Mobil görünümde butonları ayırmak için özel stil */
@media (max-width: 767px) {
    .button-sep {
        display: block;
        margin-top: 10px;
    }
}
.navbar-brand img {
    height: 40px; /* Logonun yüksekliği */
    margin-right: 10px; /* Logonun sağındaki boşluk */
}

.navbar-brand span {
    font-size: 1.5rem; /* Başlığın yazı tipi boyutu */
    font-weight: bold; /* Başlığın yazı tipi kalınlığı */
    color: #333; /* Başlığın rengi */
}

.navbar {
    background-color: #ffffff; /* Nav barın arka plan rengi */
    border-bottom: 1px solid #ddd; /* Alt çizgi */
}

.navbar-nav .nav-link {
    color: #555; /* Bağlantıların rengi */
    transition: color 0.3s; /* Renk değişimi geçiş süresi */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Bağlantıların üzerine gelindiğinde renk */
}

.toastify {
    font-size: 0.875rem; /* Bildirimin yazı tipi boyutu */
    max-width: 300px; /* Bildirimin maksimum genişliği */
}
