/* Mobil görünümde butonları ayırmak için özel stil */
@media (max-width: 767px) {
    .button-sep {
        display: block;
        margin-top: 10px;
    }
}
.header {
    text-align: center;
    background-color: #f8f9fa; /* Arka plan rengi */
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 2.5rem; /* Başlığın yazı tipi boyutu */
    font-weight: bold; /* Başlığın yazı tipi kalınlığı */
    color: #343a40; /* Başlığın rengi */
    margin: 0; /* Başlığın kenar boşluğu */
}

.header-underline {
    width: 60px;
    height: 4px;
    background-color: #007bff; /* Alt çizginin rengi */
    margin: 15px auto 0; /* Alt çizginin konumu */
}

.toastify {
    font-size: 0.875rem; /* Bildirimin yazı tipi boyutu */
    max-width: 300px; /* Bildirimin maksimum genişliği */
}

/* İlerleme Çubuğu Stilleri */ 
#customProgressContainer {
	margin-top: 20px;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	display: none; height: 30px;
	} 
#customProgressBar {
		height: 100%;
		width: 0;
		background-color: #4caf50;
		text-align: center;
		line-height: 30px;
		color: white;
		transition: width 0.1s ease;
	}
/* Mobil uyumluluk için linklerin düzeni */
#links {
    overflow-x: auto;
    word-wrap: break-word;
    white-space: normal;
}

@media (max-width: 576px) {
    #links {
        padding: 10px;
    }
}

