/* Mobil görünümde butonları ayırmak için özel stil */
@media (max-width: 767px) {
    .button-sep {
        display: block;
        margin-top: 10px;
    }
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; /* Arka plan rengi */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
    height: 80px; /* Logonun yüksekliği */
    margin-bottom: 10px; /* Logonun altındaki boşluk */
}

.header-title {
    font-size: 2rem; /* Başlığın yazı tipi boyutu */
    color: #343a40; /* Başlığın rengi */
    margin: 0; /* Başlığın kenar boşluğu */
}

.toastify {
    font-size: 0.875rem; /* Bildirimin yazı tipi boyutu */
    max-width: 300px; /* Bildirimin maksimum genişliği */
}

/* Mobil uyumluluk için linklerin düzeni */
#links {
    overflow-x: auto;
    word-wrap: break-word;
    white-space: normal;
}

@media (max-width: 576px) {
    #links {
        padding: 10px;
    }
}
